body{
    background-color: cadetblue;
}

.container {
    display: flex;
    width: 220px;
    height: 50px;
    font-size: 20px;
}

.user {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(31, 28, 33);
    width: 220px;
    height: 50px;
    

}


